/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

/* Apply the font */
body {
    font-family: 'Merriweather Sans', 'Trebuchet MS', Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    line-height: 1.7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

:root {
    --main-width: 700px;   /* Increase main content width */
    --content-font-size: 16px;
    --content-line-height: 1.7;
    --blog-title-size: 34px;
}

/* Laptop/Desktop styles */
@media screen and (min-width: 768px) {
    :root {
        --content-font-size: 19px;
        --content-line-height: 1.8;
        --blog-title-size: 42px;
    }
}

/* Apply the variables */
.post-content {
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
}

.post-title,
.first-entry .entry-header h1 {
    font-size: var(--blog-title-size);
}

/* Optional: adjust other related elements */
.entry-header h2 {
    font-size: calc(var(--content-font-size) * 1.5);
}

/* Change link hover effect */
.post-content a:hover {
    color: #666;  /* Change color on hover */
    transition: all 0.2s ease;  /* Smooth transition */
    box-shadow: none;  
}

/* Link highlight effect */
.post-content a {
    /* Remove default underline */
    box-shadow: 0 2px var(--code-bg);
}

.post-content a:hover {
    background-color: var(--code-bg);  /* Use theme's code background color */
}


/* Archive entry title color on hover */
.archive-entry:hover .archive-entry-title {
    color: var(--arc-background-gradient-color0);  /* Change color on hover */
    transition: color 0.3s ease;
}

/* Button color on hover */
.archive-entry:hover .archive-meta,
.archive-entry:hover .archive-count {
    color: var(--arc-background-gradient-color0);
    transition: color 0.3s ease;
}


/* Blog post list hover effects */
.post-entry:hover {
    transform: none;  /* Remove the default scale animation if you want */
    background: var(--arc-background-gradient-color0);  /* Background color on hover */
    transition: all 0.3s ease;
}

/* Blog post title color on hover */
.post-entry:hover .entry-header h2 {
    color: var(--code-bg);  /* Change title color on hover */
    transition: color 0.3s ease;
}

.dark .post-entry:hover .entry-content {
    color: var(--code-bg);
    transition: color 0.3s ease;
}

.header {
    border-bottom: 1px solid var(--border);
    background-color: var(--border);
}