{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path }}
  {{- if hasPrefix $path "assets/" -}}
    {{- $resourcePath := strings.TrimPrefix "assets/" $path -}}
    {{- with resources.Get $resourcePath -}}
      {{- $src = .RelPermalink -}}
    {{- end -}}
  {{- else -}}
    {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
      {{- $src = .RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $attributes := merge .Attributes (dict "alt" .Text "src" $src "title" (.Title | transform.HTMLEscape) "loading" "lazy") -}}
<img
  {{- range $k, $v := $attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}>
{{- /**/ -}}
